<!DOCTYPE html>
<html>
    <head>
        <title><%= pgtitle %> | <%= title %></title>
        <link rel="text/stylesheet" href="/css/index.css" />
    </head>
    
    <%- include("../layouts/index") %>

    <body>
        <p><%= title %> : <%= nmm %></p>
        <a href="/navAccount">Nav Page</a>

        <% data.forEach(element => { %>
            <p><%= element.name %></p>
        <% });%> 

        <form action="/results" method="POST">
            <input type="text" name="name" placeholder="Name">
            <input type="text" name="place" placeholder="Place">
            <input type="submit" value="Submit" name="conf">
        </form>
    </body>
</html>